main {
	margin: 0 auto;
}

* {
  box-sizing: border-box;
}

:root{
  --primary-color: #E5E8B6;
  --secondary-color: #B4C4AE;
  --tertiary-color: #395E66;
  --accent-color: #963D5A;
}

h1, h2{
  font-family: 'Work Sans', sans-serif;
}
.curb{
  background-color: #FAF9F6;
}
.curb-header{
  font-size: 2rem;
  border-bottom: 1.5px solid var(--tertiary-color);
  border-bottom-width: 30%;
  padding: 1.5%
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex-space-betweeen{
  display: flex;
  justify-content: space-between
}

.flex-center{
  display: flex;
  flex-direction: column;
 align-items: center;
}

.main-row{
  height: 100vh;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
}

.title{
  font-size: 2rem;
  padding: 3%
}

.logo{
  width: 15%;
}

.profile-section{
  background-color: var(--secondary-color);
}

.profile-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage{
  width: 200px;
}

#button-singlePost{
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  color: var(--tertiary-color);
}
#button-singlePost:hover{
  background-color: var(--tertiary-color);
  color: var(--primary-color)
}

#button{
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  color: var(--tertiary-color);
  width: 55%;
}

#button:hover{
  background-color: var(--tertiary-color);
  color: var(--primary-color)
}

.logout{
  vertical-align: bottom
}

.feed{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#feed-item{
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-img{
  object-fit: cover;
}